body{
    background-color: #f8f8f8;
}
.mainBlog{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px,30px,10px,14px;
   
}
.mainBlog>img{
    width: 100%;
    height: 30%;
    
}
.mainBlog>h2{
    width: 80%;
    margin-left: 10%;
    color: rgb(82, 76, 76);
}
.mainBlog>p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.insidemainblog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.insidemainblog>div>img{
    width: 100px;
    height: 100px;
    border-radius: 90px;
}
.name{
    color: rgb(77, 74, 74);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -10px;
}
.mainblog2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    grid-gap: 40px;
    text-align: center;
    margin-top: 50px;
   
}
.mainblog2>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.mainblog2>div>h2{
    width: 80%;
    margin-left: 10%;
    color: rgb(82, 76, 76);

}
.mainblog2>div>img{
    width: 100%;
    height: 40%;
}
.mainblog2>div>p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* footer styles start */
#footerGrid {
    /* border: 1px solid red; */
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      margin-top: 4%;
  }
  #footerGrid > div {
    padding: 20px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
  }
  #footerGrid > div > a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    padding: 3px;
  }
  #footerGrid > div > h4 {
    margin-bottom: 3%;
    padding-left: 3px;
  }
  #footerBox {
    display: flex;
  }
  #footerBoxDown {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    text-align: left;
    padding: 3px;
    padding-top: 35px;
  }
  #footerBoxDown > a {
    margin: auto;
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #termsfoot{
    /* margin: auto; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
  }
  #termsfoot>a{
    color: gray;
  }

  @media all and (min-width: 569px) and (max-width: 990px) {
    #footerGrid {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 75px;
    }
  }
  @media all and (min-width: 0px) and (max-width: 569px) {
    #footerGrid {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 30px;
    }
  }
/* footer styles end */