body{
    padding: 0%;
    background-color: #f8f8f8;
}
.DesignImgDiv{
    width: 98%;
    height: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    /* border: 1px solid red; */
    margin: auto;
    /* margin-top: 2%; */
    padding: 10px;
    /* padding-top: 15px; */
    background-color: #f6926c;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.DesignImgDiv>img{
    width: 90%;
}
#div2{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#DesignImgDiv2>img{
    width: 70%;
    margin: auto;
}
#DesignImgDiv2{
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#DesignImgDiv2Div{
    width: 60%;
    margin: auto;
}
#DesignImgDiv2Div2{
    /* border: 1px solid red; */
    width: 50%;
    padding: 40px;
    margin: auto;
    margin-top: 4%;
    color: white;
    background-color: #f6926c;
    border-radius: 10px;
}
#gird{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gridImg{
    width: 90%;
}
.gridPara{
    /* border: 1px solid red; */
    width: 70%;
    color: gray;
    /* margin: auto; */
}
.textDiv{
     /* border: 1px solid black; */
     padding-top: 32%;
}
#downDiv{
    /* border: 1px solid red; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
#downDivDiv>img{
    width: 90%;
}
#downDiv>h2{
    width: 75%;
    margin: auto;
}
#footerDiv{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    padding: 10px;
    padding-bottom: 35px;
    border-radius: 10px;
    /* background-color: #f6926c; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#setStartA{
    /* border: 1px solid red; */
    padding: 15px;
    /* width: 20%; */
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #f6926c;
    border-radius: 10px;
}
@media all and (max-width: 990px) {
    #gird{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .gridPara{
        /* text-align: center; */
        margin: auto;
    }
    .textDiv{
        margin: auto;
        padding: 0%;
    }
}

/* footer styles start */
#footerGrid {
    /* border: 1px solid red; */
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #footerGrid > div {
    padding: 20px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
  }
  #footerGrid > div > a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    padding: 3px;
  }
  #footerGrid > div > h4 {
    margin-bottom: 3%;
    padding-left: 3px;
  }
  #footerBox {
    display: flex;
  }
  #footerBoxDown {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    text-align: left;
    padding: 3px;
    padding-top: 35px;
  }
  #footerBoxDown > a {
    margin: auto;
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #termsfoot{
    /* margin: auto; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
  }
  #termsfoot>a{
    color: gray;
  }

  @media all and (min-width: 569px) and (max-width: 990px) {
    #footerGrid {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 75px;
    }
  }
  @media all and (min-width: 0px) and (max-width: 569px) {
    #footerGrid {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 30px;
    }
  }
/* footer styles end */